<!doctype html>
<!doctype html>
<html lang="en">
<style>

.button {
color: #fff !important;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.button:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

</style>

<head>
	<meta charset = 'utf-8'
          <meta name = "viewport" content="width=device-width, initial-scale=1">
</head>
	<h1><left>Squirrel Statistics</left><h1>
<form method = 'GET'>
	
<table align='left'>
        <tr>
		<td> Total Number of Squirrels Observed: {{old_squirrels}} <br>
            Number of Adult Squirrels: {{old_squirrels}} <br>
            Number of Cinnamon Fured Squirrels: {{cin_fur}} <br>
            Number of Gray Fured Swuirrels: {{gray_fur}} <br>
            Number of Moaning Squirrels: {{moaning_squirrel}} <br>
            Number of Twitching Squirrels: {{twitching_squirre}}</td>
        </tr>
        </center></table>

</form>
<a href='/Sightings/' class=''><center><button type='button' class='button' target="_blank" rel="nofollow noopener">Back to the list pages</button></center></a>
</html>

