<!doctype html>
<html lang="en">

<style>
.button {
color: #fff;
text-transform: uppercase;
text-decoration: none;
background: #ed3330;
padding: 20px;
border-radius: 5px;
display: inline-block;
border: none;
transition: all 0.4s ease 0s;
}

.button:hover {
background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

</style>
  <head><<title>Update {{Squirrel.UniqueID} Information}</title></head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

<form method ='GET'>
	 <input class = 'button' type="submit" name="Submit">
 </form>
  <br>

 </body>
 <a href='/Sightings/' class=''><center><button type='button' class='button' target="_blank" rel="nofollow noopener">Back to the list pages</button></center></a>
</html>
